{#
 # Portfolio Entry Template
 # ------------------------
 #
 #}

{% extends "_layout" %}
{% block bodyClass %}portfolio-entry{% endblock %}
{% block header %}
	<header class="top-heading outside-container">
		<nav>
			<a href="../../">Back</a>
		</nav>
	</header>
	<div class="header-row">
		<div id="header-logo" itemscope itemtype="http://schema.org/LocalBusiness">
			<a class="company-name" itemprop="url" href="{{ siteUrl }}">
				{{ craft.inlin.er('/img/logo.svg') | raw }}
			</a>
			<meta itemprop="description" value="Reason Creative provides web and print design services in Brooklyn, NY." />
		</div>
	</div>
{% endblock %}
{% block content %}
	<article class="portfolio outside-container">
		<div class="entry-info">
			<h1>{{ entry.title }}</h1>
			<p class="project-timeline">{{ entry.projectTimeline }}</p>
			<ul class="tag-container">
				{% for tag in entry.tags %}
					<li class="tag">{{ tag.name }}</li>
				{% endfor %}
			</ul>
			<div class="description">
				{{ entry.description }}
			</div>
			{% if entry.body %}
				<div class="body">
					{{ entry.body }}
				</div>
			{% endif %}
		</div>
		<div class="entry-body">
			<div class="images">
				{% for image in entry.images %}
					<img src="{{ image.getUrl() }}" alt="{{ image.title }}" />
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
