
          <footer class="footer content">
            <div class="contact-container">
              <h2 class="centered">Contact me</h2>
              <div class="form-container"><div id="wufoo-m1nawlat121mkak"></div></div>
              <script type="text/javascript">var m1nawlat121mkak;(function(d, t) {var s = d.createElement(t), options = {'userName':'phrygius', 'formHash':'m1nawlat121mkak', 'autoResize':true, 'height':'497', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true}; s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() {var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { m1nawlat121mkak = new WufooForm();m1nawlat121mkak.initialize(options);m1nawlat121mkak.display(); } catch (e) {}}; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
            </div><!-- END .contact-container -->
            <div class="about-me-container">
              <h2 class="centered">About Me</h2>
              <p><em>Hey!</em> I'm Jason Grafinger, a designer and developer living in Brooklyn, NY.</p>
              <p>I've been working with the web for over ten years and I continue to be passionate about it. This is an exciting time digital design and I'm eager to make smooth, cool, and inviting digital products.</p>
              <p>You can see my personal photography and art on my <a href="http://www.jasongrafinger.com" target="_blank">personal blog</a>, and be sure to follow me on <a href="https://instagram.com/jasongrafinger" target="_blank">Instagram too</a>!</p>
            </div><!-- END .about-me-container -->
          </footer>