<nav aria-role="navigation" class="main-navigation">
  <a href="/" class="nav-link home js-page-destination-center">Home</a>
  {% if site.portfolio_items %}
    <hr />
    {% for item in site.portfolio_items %}
    <a href="{{item.url}}" data-title="{{item.title}}" class="nav-link portfolio-link js-page-transition js-page-destination-{{item.target}}">{{item.title}}</a>
    {% endfor %}
  {% endif %}
  {% if site.posts %}
    <hr />
    {% for post in site.posts limit:3 %}
    <a href="{{post.url}}" class="nav-link blog-link js-page-transition js-page-destination-right">{{post.title}}</a>
    {% endfor %}
  {% endif %}
</nav>