$lightCoolGrey: #f0f1f2;
$darkBlue: #2D4A50;
$green: #50e3c2;
$breakTablet: 700px;
$breakNormal: 1050px;

* {
  box-sizing: border-box;
}

body {
  text-size-adjust: 100%;
}

html, body, p, ul, ol, dl, h1, h2, h3, h4, h5, h6, div, section, article, nav, aside {
  display: block;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: darken($green, 10%);
  color: #fff;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  font-family: "Avenir Next", "Avenir", "Lato", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 4vw;
  line-height: 1.5;
  letter-spacing: 0.07em;
  font-weight: 400;

  // WuFoo
  &#public {
    background: $lightCoolGrey;
    color: $darkBlue;
  }
}

@media(min-width: $breakTablet) {
  body {
    font-size: 1.5vw;
  }
}

h1, h2, h3, h4, p, ul, ol, dl, .vertical-rhythm {
  margin: 0 0 1.5rem;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.centered {
  text-align: center;
  font-size: 90%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bolder;
}
@media(min-width: $breakTablet) {
  .centered {
    font-size: 70%;
  }
}

hr {
  border: none;
  border-bottom: 2px solid $green;
  margin: 1vw 0;
}

img {
  max-width: 100%;
  height: auto;
}

a.button, .button, button, input[type="submit"] {
  display: inline-block;
  color: #fff;
  background: #3d595e;
  border: 2px solid #fff;
  width: auto;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem !important;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

a.button:hover, .button:hover, button:hover, input[type="submit"]:hover {
  background: transparent;
}

.main-container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.background-container {
  position: absolute;
  height: 56.25vw;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background-image: url('/img/nebula-diagonal-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0 10vw;
  transform: translate3d(0,  0,  0);
}

.logo-container {
  position: absolute;
  left: 10vw;
  right: 10vw;
  top: 5vw;
  display: flex;
  align-items: center;
  will-change: transform;
  transition: all 100ms ease-out;

  .logo-text {
    width: 70%;
    margin: 3vw 3vw 0 0;
    img {
      width: 100%;
      max-width: 700px;
      height: auto;
    }
  }
  .logo-mark {
    width: 30%;
    text-align: right;
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
}
@media(min-width: 700px) {
  .logo-container {
    top: 10vw;
  }
}

.content-container {
  background: $green;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  transition: all 250ms ease-out;
  transition-delay: 150ms;
  transform: translate3d(0,  0,  0);
  margin: 56.25vw 0 0;

  .content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  &:before {
    content: "";
    display: block;
    width: 150%;
    height: 400px;
    position: absolute;
    z-index: 1;
    background: $green;
    transform: rotate(-3deg);
    top: -10vh;
    left: -25%;
  }

  &>* {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $breakNormal) {
  .content-container {
    .content {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
}

.main-color {
  fill: red;
}

.home .main-heading {
  position: relative;
  font-weight: 600;
  font-size: 40px;
  max-width: 60em;
  line-height: 1.1;
}

.heading-name {
  display: none;
  text-transform: uppercase;
  font-size: 80%;
  margin-right: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  color: #fff;
}

.heading-after {
  color: #fff;
  font-style: oblique;
  letter-spacing: -0.02em;
}

@media (min-width: $breakTablet) {
  .home .main-heading {
    font-size: 70px;
    margin-right: 50px;
    flex: 1 1 auto;
  }

  .heading-services-container {
    display: flex;
    align-items: flex-start;
  }
}

.services-list {
  list-style: none;
  line-height: 2;
}

.services-list-item {
  display: inline;
  color: #3d595e;
  opacity: 0.6;
}

.services-list-item:after {
  content: ",  ";
}

.services-list-item:last-child:after {
  content: "";
}

@media (min-width: $breakTablet) {
  .services-list {
    list-style: none;
    line-height: 1.5;
    font-size: 90%;
    text-align: right;
    padding-top: 20px;
    width: 20vw;
    flex: none;
  }
}

.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  z-index: 1000;
  background: $green;
  color: #fff;
  will-change: transform;
  transform: translate3d(-90vh,  -90vw,  0);
}

.main-navigation.active {
  transform: translate3d(0vh,  0vw,  0);
}

.portfolio-container {
  margin: 50px 0 25px;
}

@media (min-width: 700px) {
  .portfolio-container {
    margin-top: 80px;
  }
}

.portfolio-item {
  position: relative;
  margin: 0 0 2vw;
}

.portfolio-info {
  padding: 2vw;
  background: rgba(61, 89, 94, 0.1);
  will-change: background;
  transition: background 150ms ease-out;
  color: #fff;
}

.portfolio-info h2 {
  font-size: 200%;
  line-height: 1;
  font-style: oblique;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #3d595e;
}

.portfolio-content {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-content:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}

.portfolio-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio-preview {
  transform: scale(1,  1);
  transform-origin: top center;
  transition: transform 100ms ease-out;
  transition-delay: 30ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-width: $breakNormal) {
  .portfolio-item {
    display: flex;
  }

  .portfolio-item.image-right {
    flex-direction: row-reverse;
    text-align: right;
  }

  .portfolio-item:hover .portfolio-info {
    background: transparent;
  }

  .portfolio-content {
    width: 50%;
    flex: none;
  }

  .portfolio-info {
    flex: 1 1 auto;
  }
}

.footer {
  margin: 40vh 0 0;
  padding: 10vh 0;
  background: $lightCoolGrey;
  color: $darkBlue;
  &> * {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: "";
    display: block;
    width: 150%;
    height: 400px;
    position: absolute;
    z-index: 1;
    background: $lightCoolGrey;
    transform: rotate(2deg);
    top: -15vh;
    left: -25%;
  }
}

.contact-container {
  position: relative;

  iframe {
    transform: translateX(-10px);
    max-width: 500px;
  }
}

@media (min-width: 700px) {
  .footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .contact-container, .about-me-container {
    flex: none;
    width: 50%;
  }
  .contact-container {
    margin-right: 25px;
  }
}

/**
 * Element scroll transitions
 */
.js-pub-sub.js-pub-sub-scroll {
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: all 150ms ease-out;
  &.drop-in.unseen {
    transform: translate3d(0, 0, 500px);
  }
}

form.wufoo {
  font-family: "Avenir Next", "Avenir", "Lato", Helvetica, sans-serif;
  padding-left: 10px;
  .info {
    border-bottom: none;
    padding: 0;
    h2 {
      display: none;
    }
  }
  label.desc, legend.desc {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
  }
}

input[type="text"], input[type="search"], input[type="email"], textarea {
  border: none !important;
  padding: 3px !important;
}

.form-container {
  .form-input-container {
    margin: 0 0 0.25em;
  }
  label, input, textarea {
    display: block;
    width: 80%;
    font-size: 100%;
  }
  textarea {
    height: 10em;
  }
}

form span.req {
  color: #7479C3 !important;
}

form li {
  padding: 0 !important;
  margin: 0 0 10px !important;
}

.safari input.btTxt {
  font-size: 100%;
}

.viewport.right {
  .content-container {
    margin: 20vh 0 0;
  }
}

.portfolio-page {
  h1 {
    font-weight: 700;
    font-size: 6vw;
  }
}

.back-link-container {
  margin: 3vh 0 0;
}

@media(min-width: 600px) {
  .two-col {
    column-count: 2;
  }
}

.portfolio-single-image-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
  }
}