
@clrDark: #3D595E;
@clrLight: #C1EAD2;
@clrBlue: #50E3C2;
@clrHighlightOnDark: #50E3C2;
@clrHighlightOnLight: #50E3C2;
@breakTablet: 700px;
@breakNormal: 1050px;

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: @clrDark;
	color: @clrLight;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	line-height: 1.5;
	letter-spacing: 0.03rem;
	font-family: "Avenir Next", "Avenir", "Lato", Helvetica, sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
	letter-spacing: 0.07em;
	font-weight: 400;
}
h1, h2, h3, h4, p, ul, ol, dl {
	margin: 0 0 1rem;
}

h1, h2, h3, h4 {
	font-weight: 400;
}

hr {
	border: none;
	border-bottom: 2px solid @clrBlue;
	margin: 1vw 0;
}

img {
	max-width: 100%;
	height: auto;
}

a.button, .button, button {
	display: inline-block;
	color: #fff;
	background: @clrHighlightOnDark;
	width: auto;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
	font-weight: 400;
	&:hover {
		background: darken(@clrHighlightOnDark, 10%);
	}
}

.main-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}
.background-container {
	position: fixed;
	z-index: 0;
	top: -20px;
	left: -20px;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	overflow: hidden;
}
.background-container img {
	min-width: 100vw;
	min-height: 100vh;
	width: auto;
	height: auto;
	animation-duration: 30s;
	//animation-name: blur;
	animation-iteration-count: infinite;
}
.content-container {
	background: @clrDark;
	position: relative;
	z-index: 1;
	margin: 30vh 0 0 0;
	padding: 0 5vw 100px;
	transition: all 250ms ease-out;
	transition-delay: 150ms;
	transform: translate3d(0, 0, 0);

	&:before {
		content: "";
		display: block;
		width: 150%;
		height: 400px;
		position: absolute;
		z-index: 1;
		background: @clrDark;
		transform: rotate(-3deg);
		top: -10vh;
		left: -25%;
	}

	&> * {
		position: relative;
		z-index: 2;
	}
}
@media(min-width: @breakTablet) {
	.content-container {
		margin: 80vh 0 0 0;
		padding-left: 10vw;
		padding-right: 10vw;
	}
}
.content, .logo-container {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
}
.logo-container {
	position: absolute;
	-webkit-transform: translate(-10px, -25vh);
	transform: translate(-10px, -25vh);
}
@media(min-width: @breakTablet) {
	.logo-container {
		position: absolute;
		-webkit-transform: translate(-10px, -50vh);
		transform: translate(-10px, -50vh);
	}
}
.logo {
	width: 45vw;
	min-width: 300px;
	height: auto;
}
.main-color {
	fill: red;
}
.home .main-heading {
	position: relative;


	font-weight: 600;
	font-size: 40px;
	max-width: 60em;
	line-height: 1.1;
}
.heading-name {
	display: none;
	text-transform: uppercase;
	font-size: 80%;
	margin-right: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 200;
	color: @clrHighlightOnDark;
}
.heading-after {
	color: @clrLight;
	color: @clrHighlightOnDark;

	font-style: oblique;
	letter-spacing: -0.02em;
}
@media(min-width: @breakTablet) {

	.home .main-heading {
		font-size: 70px;
		margin-right: 50px;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.heading-services-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-align-items: flex-start;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
}
.services-list {
	list-style: none;
	line-height: 2;
}
.services-list-item {
	display: inline;
	color: @clrHighlightOnDark;
	opacity: 0.6;


	&:after {
		content: ", "
	}
	&:last-child:after {
		content: ""
	}
}
@media(min-width: @breakTablet) {
	.services-list {
		list-style: none;
		line-height: 2;
		text-align: right;
		padding-top: 20px;
		width: 20vw;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
	}
}
.portfolio-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 50px 0 25px;
}
@media(min-width: @breakTablet) {
	.portfolio-container {
		margin-top: 150px;
	}
}
.portfolio-item {
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	position: relative;
	overflow: hidden;
	//outline: none;
	//transition: outline 100ms ease-out;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: 75%;
	}
	.portfolio-content, .portfolio-preview {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.portfolio-preview {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-transform-origin: top center;
		transform-origin: top center;
		transition: transform 100ms ease-out;
		transition-delay: 30ms;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	.portfolio-content {
		cursor: pointer;
	}

	.info {
		opacity: 0;
		transition: opacity 250ms ease-out;
		transition-delay: 100ms;
		background: fade(darken(@clrDark, 15), 95);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 60px 50px;
		border: 8px solid @clrHighlightOnLight;
		color: #fff;

		h2 {
			font-size: 18px;
			font-style: oblique;
			font-weight: lighter;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: @clrHighlightOnDark;
		}
	}

	&.active, &:hover {
		z-index: 100;
		//outline: 5000px solid fade(#000, 70);

		.portfolio-preview {
			-webkit-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
			transition-duration: 450ms;
		}

		.info {
			opacity: 1;
		}
	}
}
@media(min-width: @breakNormal) {
	.portfolio-item {
		-webkit-flex: 0 1 50%;
		-ms-flex: 0 1 50%;
		flex: 0 1 50%;

		.info {
			h2 {
				font-size: 25px;
			}
		}
		&:nth-child(odd) .info {
			text-align: right;
		}

	}
}

@keyframes blur {
	0% {
		-webkit-filter: blur(0);
	}
	13% {
		-webkit-filter: blur(0);
	}
	15% {
		-webkit-filter: blur(5px);
	}
	20% {
		-webkit-filter: blur(0);
	}
	40% {
		-webkit-filter: blur(15px);
	}
	50% {
		-webkit-filter: blur(15px);
	}
	55% {
		-webkit-filter: blur(10px);
	}
	75% {
		-webkit-filter: blur(15px);
	}
	90% {
		-webkit-filter: blur(10px);
	}
	95% {
		-webkit-filter: blur(0);
	}
}