@import 'vars';

.themer(@color_1, @color_2, @color_3) {

	background: darken(@color_1, 10);
	color: darken(@color_1, 5);

	::selection {
		background: @color_1;
		color: @color_3;
	}
	::-moz-selection {
		background: @color_1;
		color: @color_3;
	}

	.content-container {
		box-shadow: 0px 0px 32px fade(darken(@color_1, 20), 50%);
	}
	.svg-color-1 {
		fill: @color_1;
	}
	.svg-color-2 {
		fill: @color_2;
	}
	.svg-color-3 {
		fill: @color_3;
	}
	.svg-stroke-1 {
		stroke: @color_1;
	}
	.svg-stroke-2 {
		stroke: @color_2;
	}
	.svg-stroke-3 {
		stroke: @color_3;
	}
	.svg-text-stop-1 {
		stop-color: @color_3;
	}
	.svg-text-stop-2 {
		stop-color: @color_2;
	}

	button, .button {
		background: @color_2;
		&:hover {
			background: saturate(lighten(@color_2, 5), 20);
		}

		&.primary {	
			background: @color_3;
			&:hover {
				background: saturate(lighten(@color_3, 5), 20);
			}
		}
	}

	.dark-container {
		background: @color_1;
		color: #fff;
	}

	header#header {
		border-color: fade(lighten(@color_1, 20), 30%);
	}

	.index-page h1 {
		background-color: darken(@color_1, 10);
	}

	h1, h2 {
		color: @color_3;
	}

	hr {
		.diagonal-gradient-mixin(@color1: @color_3; @color2: @color_2);
	}

	@media(min-width: 728px) {
		.header-logo {
			border-right-color: @color_3;
		}
	}

	blockquote {
		border-left: 5px solid @color_3;
		padding-left: 25px;
	}

	li.tag {
		border-color: @color_2;
		color: @color_2;
	}
}

/** Purple, Magenta, Cyan **/
body.theme0 {
	.themer(
		@color_1: #464054;
		@color_2: #26BBE0;
		@color_3: #E32B47;
	);
}

/** Purples & Peach **/
body.theme1 {
	.themer(
		@color_1: #2E242D;
		@color_2: #525566;
		@color_3: #E35B4B;
	);
}

/** Dark Greens **/
body.theme2 {
	.themer(
		@color_1: #1C282C;
		@color_2: #384948;
		@color_3: #56C5A5;
	);
}

