<!doctype html>
<html>
  {% include head.html %}
  <body class="home">
    <div class="main-viewport">
      <div id="vpc" class="viewport-container">
        <div class="viewport left"></div><!-- END .viewport.left -->
        <div class="viewport center active">
          <div class="background-container">
            <div class="logo-container">
              <div class="logo-text"><img src="/img/logo-text.svg" alt="Reason Creative" /></div>
              <div class="logo-mark"><img src="/img/logo-mark.svg" alt="Reason Creative" /></div>
            </div>
          </div>
          <div class="main-container">
            {% include nav.html %}
            <div class="content-container">
              <div class="content">
                {{ content }}
              </div><!-- END .content -->
              {% include footer.html %}
            </div><!-- END .content-container -->
          </div><!-- END .main-container -->
        </div><!-- END .viewport.center -->
        <div class="viewport right">
          <header class="header">
            <a href="./index.html" class="js-page-transition js-page-destination-center">Back</a> This is the header
          </header>
          <main class="main">
            <h1>Right content</h1>
          </main>
        </div><!-- END .viewport.right -->
      </div><!-- END .viewport-container -->
    </div><!-- END .main-viewport -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-21971893-1', 'auto'); ga('send', 'pageview'); </script> </body>
</html>