{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	{% includeCssFile "/css/style.css" %}
	{{ getHeadHtml() }}
</head>
{% set theme = random(4) %}
<body class="theme{{ theme }}">
	<div class="content-container">
		<header class="section-dark" id="header">
			{% set svg = random(['1', '2']) %}
			{% if svg == '1' %}
				{{ craft.inlin.er('/img/background-1.svg') | raw }}
			{% elseif svg == '2' %}
				{{ craft.inlin.er('/img/background-2.svg') | raw }}
			{% endif %}
			{% block header %}
				<div class="outside-container">
					<h1>Header</h1>
				</div>
			{% endblock %}
		</header>
		<main class="main-content" id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
		<footer class="section-dark" id="footer">
			<div class="outside-container">
				&copy; {{ now.year }} {{ siteName }}.
			</div>
		</footer>
	</div>
</body>
</html>
