{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
 {#
  # FOR FUTURE USE IF NECESSARY
  
	{{ 
		craft.inlin.er('/img/gradient-text.svg') 
		| replace('TEXT', 'About Me') 
		| replace('NUMBER', 'About')
		| replace('RECT_HEIGHT', SVG_RECT_HEIGHT)
		| replace('HEIGHT', SVG_TEXT_HEIGHT)
		| raw 
	}}
 #}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="//use.typekit.net/gvz2nzd.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	{% includeCssFile "/css/style.css" %}
	{{ getHeadHtml() }}
</head>
<body class="{% block bodyClass %}home{% endblock %}">
	<div class="main-container">
		<div class="background-container">
			<!-- <div class="background-image"></div> -->
			<img src="img/nebula.jpg" alt="background" />
		</div>
		<div class="svg-container">
		{% set svg = random(['1', '2', '3', '4']) %}
		{% set file = '/img/background-NUMBER.svg' %}
		{{ 
			craft.inlin.er(file | replace('NUMBER', svg))
			| raw 
		}}
		</div>
		{% block header %}
			<div class="outside-container">
				<h1>Header</h1>
			</div>
		{% endblock %}
		<main class="main-content" id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
	</div>
</body>
</html>
