{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block header %}
	<div id="header-logo" itemscope itemtype="http://schema.org/LocalBusiness">
		<a class="company-name" itemprop="url" href="http://reasoncreative.com">
			{{ craft.inlin.er('/img/logo.svg') | raw }}
		</a>
		<meta itemprop="description" value="Reason Creative provides web and print design services in Brooklyn, NY." />
	</div>
	<button class="primary goto" id="goto-one" data-section="portfolio">Check it out!</button>
{% endblock %}

{% block content %}
{% set SVG_TEXT_HEIGHT = '55px' %}
{% set SVG_RECT_HEIGHT = '5px' %}
<div class="index-page">
	<h1 class="outside-container">Web/Print Design in Brooklyn, NY</h1>
	<section class="outside-container vertical-container" id="portfolio">
		<h2>Portfolio</h2>
		<hr class="post-heading" />
		<div>
			{% for entry in craft.entries.section('portfolio').order('orderBy').limit(15) %}
				<div class="project-promo">
					<div class="info-container">
						<div class="name-container">
							<h3>{{ entry.title }}</h3>
							<div class="project-timeline">{{ entry.projectTimeline }}</div>
						</div>
						<p>{{ entry.description }}</p>
						<ul class="tag-container">
							{% for tag in entry.tags %}
								<li class="tag">{{ tag.name }}</li>
							{% endfor %}
						</ul>
						<p class="button-container"><a href="{{entry.url}}" class="button">View Project</a></p>
					</div>
					<a href="{{entry.url}}" class="image-container">
						<img src="{{ entry.promoImage.first().getUrl('previewMedium') }}" width="entry.promoImage.first().getWidth('previewMedium')" height="entry.promoImage.first().getHeight('previewMedium')" alt="{{ entry.title }}" />
					</a>
				</div>
			{% endfor %}
		</div>
	</section>
	<div class="outside-container vertical-container">
		<h2>About Me</h2>
		<hr class="post-heading" />
		<div class="flex-container middle">
			<div class="me-image-container top">
				<img src="/img/me.png" alt="me" />
			</div>
			<div class="body-container fill">{{ entry.body }}</div>
			<div class="social-container ">
				<p>
					<a href="http://jasongrafinger.com" class="button small social">My Blog</a>
				</p>
				<p>
					<a href="http://instagram.com/jasongrafinger" class="button small social">Instagram</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
