{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block header %}
	<div class="header-logo" itemscope itemtype="http://schema.org/LocalBusiness">
		<a class="company-name" itemprop="url" href="http://reasoncreative.com">
			{{ craft.inlin.er('/img/logo.svg') | raw }}
		</a>
		<meta itemprop="description" value="Reason Creative provides web and print design services in Brooklyn, NY." />
	</div>
{% endblock %}

{% block content %}
	<section class="outside-container" id="page-content">
		{{ entry.body }}
	</section>
	<section class="outside-container" id="portfolio">
		<h2>Portfolio</h2>
		<div>
			{% for entry in craft.entries.section('portfolio').find() %}
				<div class="project"><h3>{{ entry.title }}</h3></div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
